@fillDegree: 0deg; // from 0deg to 180deg
@baseRotate: 0deg;
@baseBackground: orange;
@pieBackground: green;

@import '_degreeGuards';

.fill@{fillDegree} {
    .outer(@fillDegree);
    
    &::after,
    &::before {
    .pie(@fillDegree);
    }
    &::after {
    .after(@fillDegree);
    }
    & + .pieChartLegend {
        &::before {
            background: @pieBackground;
        }    
    }
}